Structural-Defects-4
structural_defects_runs.zip
YTDown_Shorts_hotpot-construction-asphaltpaving-aesthe_Media_bw9nnjQWIkY_001_1080p.mp4
YTDown_YouTube_FastPatch-Asphalt-Alligatoring-Crack-Rep_Media_tWl2gorRJVE_001_1080p.mp4
predictions
.DS_Store
**/.DS_Store